<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="col-md-12">
	    <div class="card-mx-auto" style="height:100%;width:100%;">  
        <img src="image/se1.jpg" style="width:100%;height:100%;" class="img-fluid">
        </div>


    <div class="card" style="width:100%;height: 100%">
    <div class="card-body">
    <CENTER><b><h2 class="card-title">DATA MODELING</h2></b>
    <img src="image/se2.jpg" class="card-img-top" alt="...">
    <p class="card-text">Data modeling is a process used to define and analyze data requirements needed to support the business processes within the scope of corresponding information systems in organizations. Therefore, the process of data modeling involves professional data modelers working closely with business stakeholders, as well as potential users of the information system</p>
    <a href="#" class="btn btn-primary">See More</a></CENTER>
    </div>
    </div>
       
       <div class="card" style="width:100%;height: 100%">
    <div class="card-body">
    <CENTER><b><h2 class="card-title">UML</h2></b>
    <img src="image/se3.jpg" class="card-img-top" alt="...">
    <p class="card-text">The Unified Modeling Language (UML) is a general-purpose, developmental, modeling language in the field of software engineering that is intended to provide a standard way to visualize the design of a system. The creation of UML was originally motivated by the desire to standardize the disparate notational systems and approaches to software design</p>
    <a href="#" class="btn btn-primary">See More</a></CENTER>
    </div>
    </div>

    <div class="card" style="width:100%;height: 100%">
    <div class="card-body">
    <CENTER><b><h2 class="card-title">SDLC</h2></b>
    <img src="image/se4.jpg" class="card-img-top" alt="...">
    <p class="card-text">Software Development Life Cycle. Software Development Life Cycle, SDLC for short, is a well-defined, structured sequence of stages in software engineering to develop the intended software product. SDLC Activities. SDLC provides a series of steps to be followed to design and develop a software product efficiently</p>
    <a href="#" class="btn btn-primary">See More</a></CENTER>
    </div>
    </div>

    <div class="card" style="width:100%;height: 100%">
    <div class="card-body">
    <CENTER><b><h2 class="card-title">SOFTWARE TESTING</h2></b>
    <img src="image/se5.jpg" class="card-img-top" alt="...">
    <p class="card-text">Software Testing is evaluation of the software against requirements gathered from users and system specifications. Testing is conducted at the phase level in software development life cycle or at module level in program code. Software testing comprises of Validation and Verification.</p>
    <a href="#" class="btn btn-primary">See More</a></CENTER>
    </div>
    </div>

    <div class="card" style="width:100%;height: 100%">
    <div class="card-body">
    <CENTER><b><h2 class="card-title">SOFTWARE QUALITY</h2></b>
    <img src="image/se6.jpg" class="card-img-top" alt="...">
    <p class="card-text">In the context of software engineering, software quality measures how well software is designed (quality of design), and how well the software conforms to that design (quality of conformance), although there are several different definitions. It is often described as the 'fitness for purpose' of a piece of software.</p>
    <a href="#" class="btn btn-primary">See More</a></CENTER>
    </div>
    </div>
    </div>

  
</body>
</html>